@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: burlywood;
}

.wrapper{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%); /*exact center*/
    max-width: 350px;
    width:100%;
    background: white;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px 2px rgba(254,236,164,1);

}

.wrapper.h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:#332902;
}

input[type="text"]{

    width:100%;
    border: 1px solid #e0e0e0;
    padding:10px;
}

input[type="submit"]{
 border:0;
 margin-top:15px;
 padding:10px;
 width:100%;
 background: burlywood;
 color:#332902;
 text-transform: uppercase;
 letter-spacing: 3px;
 font-weight: bold;
 border-radius: 25px;
 cursor: pointer;

}

button{

 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 3px solid black;
 padding:10px;
 color:#332902;
 text-transform: uppercase;
 letter-spacing: 3px;
 font-weight: bold;
 border-radius: 25px;
 cursor: pointer;

}

#error{
    margin-bottom: 20px;
    padding:0;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}

.column {
    float: left;
    width: 33.33%;
    padding: 20px;
  }
  
  
  .images::after {
    content: "";
    clear: both;
    display: table;
  }

.img-width{
    width:30vw;
}

.heading{
    padding-bottom:20px;
}

.text{
    text-align: center;
    padding-bottom: 50px;
}

.padding{
    display: flex;
    margin: auto;
}

.thanks{

    text-align: center;
    padding-bottom: 50px;
    padding-top: 70px;

}

.active_img{
    border: solid 2px gray;
}


